<h1><%= @song.name %></h1>
<p><strong>Artist:</strong> <%= link_to @song.artist.name, artist_path(@song.artist_id) %><br>
<strong>Genre:</strong> <%= link_to @song.genre.name, genre_path(@song.genre_id) %></p>